@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Nunito:wght@400;600;700&display=swap');

$background-color-default: linear-gradient(100deg, #010E45 36.27%, #FFFFFF 104.65%), #070A17;
$white: #fff;
$font-family-K2D: 'K2D', 'Nunito', sans-serif;
$font-family-Nunito: 'Nunito', 'K2D', sans-serif;
